body {
    position: absolute;
    width: 1990px;
    height: 3797px;
    left: -10px;
    top: 102px;

    background: #11071F;
}
#app {
    background: #11071F;
    padding: 10px;
}
.responsive_image {
    width: 100%;
    height: auto;
  }